 <%- include('partials/header') %>

<div class="breadcumb-wrapper" data-bg-src="/images/breadcrumb-img-1.jpg">
      <div class="container">
        <div class="breadcumb-content">
          <h1 class="breadcumb-title">Clients</h1>
          <ul class="breadcumb-menu">
            <li><a href="index">Home</a></li>
            <li>Clients</li>
          </ul>
        </div>
      </div>
    </div>


    <section class="clent-section">
        <div class="container">
          <div class="row">
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-1.png" alt="">
                 </div>
              </div>
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-2.png" alt="">
                 </div>
              </div>
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-3.png" alt="">
                 </div>
              </div>
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-4.png" alt="">
                 </div>
              </div>
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-5.png" alt="">
                 </div>
              </div>
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-6.png" alt="">
                 </div>
              </div>
             <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-log-img-7.png" alt="">
                 </div>
              </div>
              <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-8.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-9.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-10.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-11.jpg" alt="">
                 </div>
              </div>
                <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-12.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-13.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-14.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-15.jpg" alt="">
                 </div>
              </div>
                 <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-16.jpg" alt="">
                 </div>
              </div>
                 <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-17.jpg" alt="">
                 </div>
              </div>
              <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-18.jpg" alt="">
                 </div>
              </div>
                <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-19.jpg" alt="">
                 </div>
              </div>
                 <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-20.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-21.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-22.jpg" alt="">
                 </div>
              </div>
                <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-23.jpg" alt="">
                 </div>
              </div>
                <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-24.jpg" alt="">
                 </div>
              </div>
                 <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-25.jpg" alt="">
                 </div>
              </div>
                 <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-26.jpg" alt="">
                 </div>
              </div>
                  <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-27.jpg" alt="">
                 </div>
              </div>
                  <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-28.jpg" alt="">
                 </div>
              </div>
                <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-29.jpg" alt="">
                 </div>
              </div>
               <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-30.jpg" alt="">
                 </div>
              </div>
                 <div class="col-md-3 mb-3">
                 <div class="client-div">
                   <img src="/images/client-img-31.jpg" alt="">
                 </div>
              </div>
          </div>
            <div class="table-responsive d-none">
                  <table class="table">
      <thead>
        <tr>
          <th style="width:70px">S. No</th>
          <th>Client</th>
          <th style="width:140px">Sector</th>
          <th style="width:220px">Location</th>
          <th>Services</th>
        </tr>
      </thead>
      <tbody>
        <!-- 1–17 -->
        <tr>
          <td data-label="S. No">1</td>
          <td data-label="Client">BPCL</td>
          <td data-label="Sector">Public/Govt</td>
          <td data-label="Location">Near Naval Dockyard-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">2</td>
          <td data-label="Client">Bhashyam Residential School</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security &amp; Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">3</td>
          <td data-label="Client">KRS Pharmaceuticals Pvt Ltd</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Parawada</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">4</td>
          <td data-label="Client">INS Virbahu</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Naval Base-VSP</td>
          <td data-label="Services">Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">5</td>
          <td data-label="Client">JOSEPH LESLIE DYNAMIKS MFG. PVT. LTD.</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">INS Vishwakarma-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">6</td>
          <td data-label="Client">DES RAJ AND SONS BUILDERS PVT LTD.</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Ashoka park near Gurudwara site-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">7</td>
          <td data-label="Client">Sir Ganesh Timber &amp; Furniture Works</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Gajuwaka-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">8</td>
          <td data-label="Client">ARDEE ENGINEERING Pvt Ltd</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Sheelanagar-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">9</td>
          <td data-label="Client">CBEC</td>
          <td data-label="Sector">Public/Govt</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">DEO’S</td>
        </tr>
        <tr>
          <td data-label="S. No">10</td>
          <td data-label="Client">Fleet Mail Office-VSP-DOGS</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">11</td>
          <td data-label="Client">NAD BH – COLONY CONSERVANCY</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Conservancy Services</td>
        </tr>
        <tr>
          <td data-label="S. No">12</td>
          <td data-label="Client">INDIGENISATION UNIT EAST</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">13</td>
          <td data-label="Client">MOV-GARBAGE</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">14</td>
          <td data-label="Client">MOV-Horticulture</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Horticulture Service</td>
        </tr>
        <tr>
          <td data-label="S. No">15</td>
          <td data-label="Client">NAD BH – DEPOT CONSERVANCY</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Conservancy Services</td>
        </tr>
        <tr>
          <td data-label="S. No">16</td>
          <td data-label="Client">UK STEEL INDUSTRIES</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Autonagar-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">17</td>
          <td data-label="Client">Sukshetra Infra Projects Pvt Ltd</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Waltair Heights-VSP</td>
          <td data-label="Services">Security Services</td>
        </tr>

        <!-- 18–36 -->
        <tr>
          <td data-label="S. No">18</td>
          <td data-label="Client">Controllerate of Naval Armament Inspection (East)</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">NAD-VSP</td>
          <td data-label="Services">Senior Draughtsman</td>
        </tr>
        <tr>
          <td data-label="S. No">19</td>
          <td data-label="Client">Mercantile Marine Department</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">DEO’s Services</td>
        </tr>
        <tr>
          <td data-label="S. No">20</td>
          <td data-label="Client">INS KALINGA</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">NAD-BH</td>
          <td data-label="Services">Non-IT Technical – Radio Telephone Operator</td>
        </tr>
        <tr>
          <td data-label="S. No">21</td>
          <td data-label="Client">PRAGATHI PRINT PACK</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">22</td>
          <td data-label="Client">ZIRCON MARINE SERVICES PVT LTD</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">23</td>
          <td data-label="Client">SKILL DEVELOPMENT</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">24</td>
          <td data-label="Client">Ravindra Bharathi School-3 Branch’s</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security &amp; Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">25</td>
          <td data-label="Client">Electropneumatics &amp; Hydraulics (I) Pvt. Ltd</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam-Unit</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">26</td>
          <td data-label="Client">HABBIA HOUSE</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">27</td>
          <td data-label="Client">Narayana School-3 Branch’s</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security &amp; Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">28</td>
          <td data-label="Client">KKR's Gowtham Concept School</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security &amp; Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">29</td>
          <td data-label="Client">INS KALINGA</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Radio Telephone Operator</td>
        </tr>
        <tr>
          <td data-label="S. No">30</td>
          <td data-label="Client">CDA-ARMY</td>
          <td data-label="Sector">Indian ARMY</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Office Boys</td>
        </tr>
        <tr>
          <td data-label="S. No">31</td>
          <td data-label="Client">Material Organation-VSP</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">DEO’s</td>
        </tr>
        <tr>
          <td data-label="S. No">32</td>
          <td data-label="Client">WEAPON EQUIPMENT DEPOT</td>
          <td data-label="Sector">Indian Navy</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">33</td>
          <td data-label="Client">HPCL</td>
          <td data-label="Sector">Public/Govt</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">34</td>
          <td data-label="Client">ALWAR SCHOOL OF EXCELLENCE</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
        <tr>
          <td data-label="S. No">35</td>
          <td data-label="Client">ANNA CANTEEN-6 UNITS</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security &amp; Housekeeping Services</td>
        </tr>
        <tr>
          <td data-label="S. No">36</td>
          <td data-label="Client">SRI VENKATESWARA VIDYAPEETH-GAJUWAKA</td>
          <td data-label="Sector">Private</td>
          <td data-label="Location">Visakhapatnam</td>
          <td data-label="Services">Security Services</td>
        </tr>
      </tbody>
    </table>
            </div>
        </div>
    </section>
     <%- include('partials/footer') %>