     <%- include('partials/header') %>

<div class="breadcumb-wrapper" data-bg-src="/images/breadcrumb-img-1.jpg">
      <div class="container">
        <div class="breadcumb-content">
          <h1 class="breadcumb-title">Services</h1>
          <ul class="breadcumb-menu">
            <li><a href="index">Home</a></li>
            <li>Services</li>
          </ul>
        </div>
      </div>
    </div>
     

    <section class="space py-5">
  <div class="container">

    <!-- Security Guards -->
    <div class="row mb-5 align-items-center">
      <div class="col-md-8 order-2 order-md-1">
        <h6 class="fw-bold">Security Guards</h6>
        <p>
         It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


        </p>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <img src="/images/service-1.jpg" alt="Security Guards" class="img-fluid rounded shadow">
      </div>
    </div>

    <!-- Housekeeping and Conservancy -->
    <div class="row mb-5 align-items-center">
      <div class="col-md-4 order-1 order-md-1">
        <img src="/images/service-2.jpg" alt="Housekeeping and Conservancy" class="img-fluid rounded shadow">
      </div>
      <div class="col-md-8 order-2 order-md-2">
        <h6 class="fw-bold">Housekeeping and Conservancy</h6>
        <p>
         It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


        </p>
      </div>
    </div>

    <!-- Data Entry Operator -->
    <div class="row mb-5 align-items-center">
      <div class="col-md-8 order-2 order-md-1">
        <h6 class="fw-bold">Data Entry Operator</h6>
        <p>
         It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


        </p>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <img src="/images/service-3.jpg" alt="Data Entry Operator" class="img-fluid rounded shadow">
      </div>
    </div>

    <!-- Manpower Services -->
    <div class="row mb-5 align-items-center">
      <div class="col-md-4 order-1 order-md-1">
        <img src="/images/service-4.jpg" alt="Manpower Services" class="img-fluid rounded shadow">
      </div>
      <div class="col-md-8 order-2 order-md-2">
        <h6 class="fw-bold">All Types of Manpower Services</h6>
        <p>
         It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


        </p>
      </div>
    </div>

      <!-- Data Entry Operator -->
    <div class="row mb-5 align-items-center">
      <div class="col-md-8 order-2 order-md-1">
        <h6 class="fw-bold"> IT and consulting services.</h6>
        <p>
         It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


        </p>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <img src="/images/service-5.jpg" alt="Data Entry Operator" class="img-fluid rounded shadow">
      </div>
    </div>


  </div>
</section>



      <%- include('partials/footer') %>