<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <meta name="robots" content="INDEX,FOLLOW" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <!-- Primary Meta Tags -->
    <title>
      Visakha Industrial Security Force | Trusted Industrial Security Services
    </title>
    <meta
      name="title"
      content="Visakha Industrial Security Force | Trusted Industrial Security Services"
    />
    <meta
      name="description"
      content="Visakha Industrial Security Force provides reliable and professional industrial security solutions for factories, warehouses, and corporate sectors. Trusted protection, 24/7 vigilance."
    />
    <meta
      name="keywords"
      content="Visakha Industrial Security Force, industrial security services, factory security, warehouse protection, corporate security solutions, private security force, professional security guards, industrial safety, 24/7 security services"
    />
    <meta name="author" content="Visakha Industrial Security Force" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.visakhasecurityforce.com/" />
    <meta
      property="og:title"
      content="Visakha Industrial Security Force | Trusted Industrial Security Services"
    />
    <meta
      property="og:description"
      content="Reliable and professional industrial security solutions for factories, warehouses, and corporates. 24/7 protection you can trust."
    />
    <meta
      property="og:image"
      content="https://www.visakhasecurityforce.com/images/og-banner.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://www.visakhasecurityforce.com/"
    />
    <meta
      property="twitter:title"
      content="Visakha Industrial Security Force | Trusted Industrial Security Services"
    />
    <meta
      property="twitter:description"
      content="Reliable and professional industrial security solutions for factories, warehouses, and corporates. 24/7 protection you can trust."
    />
    <meta
      property="twitter:image"
      content="https://www.visakhasecurityforce.com/images/og-banner.jpg"
    />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.visakhasecurityforce.com/" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/fav-icon.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/fav-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/fav-icon.png" />
    <link rel="manifest" href="/images/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <link rel="icon" href="/images/fav-icon.png" type="image/x-icon" />

    <meta name="msapplication-TileImage" content="/images/fav-icon.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div
      class="slider-drag-cursor d-flex align-items-center justify-content-between"
    >
      <span class="drag-icon-left"
        ><img src="/images/icon/drag-arrow-left.svg" alt="" /></span
      >DRAG
      <span class="drag-icon-right"
        ><img src="/images/icon/drag-arrow-right.svg" alt=""
      /></span>
    </div>

    <div class="th-menu-wrapper onepage-nav">
      <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
          <a href="index"><img width="80" src="/images/logo.png" alt="Atek" /></a>
        </div>
        <div class="th-mobile-menu">
             <ul>
                    <li>
                      <a class="active" href="index">Home</a>
                    </li>
                    <li>
                      <a href="about">About Us</a>
                    </li>
                    <li>
                      <a href="service-details">Our Services</a>
                    </li>
                    <li>
                      <a href="clients">Clients</a>
                    </li>
                    <li>
                      <a href="gallery">Gallery</a>
                    </li>
                    <li>
                      <a href="contact-us">Contact Us</a>
                    </li>
                  </ul>
        </div>
      </div>
    </div>
    <header class="th-header header-layout1 header-layout4">
      <div class="header-top">
        <div class="container th-container">
          <div
            class="row justify-content-center justify-content-xl-between align-items-center"
          >
            <div class="col-auto d-none d-md-block">
              <div class="header-links">
                <ul>
                  <li class="d-none d-xl-inline-block">
                    <a href="mailto:visakhaindustrial@gmail.com">
                      <i class="fas fa-envelope"></i>
                      visakhaindustrial@gmail.com
                    </a>
                  </li>
                  <li class="d-none d-xl-inline-block">
                    <a href="tel:+91-9248111689">
                      <i class="fas fa-phone-alt"></i> +91-9248111689
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-auto">
              <div class="header-right">
                <div class="header-links">
                  <ul>
                    <li class="d-none d-md-inline-block">
                      <a href="#!">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="d-none d-md-inline-block">
                      <a href="#1">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="d-none d-md-inline-block">
                      <a href="#1">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                    <li class="d-none d-md-inline-block">
                      <a href="#1">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                    <li class="d-none d-md-inline-block">
                      <a href="#1">
                        <i class="fab fa-whatsapp"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky-wrapper">
        <div class="menu-area">
          <div class="container th-container">
            <div class="row align-items-center justify-content-between">
              <div class="col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-center">
                <div class="header-logo first-logo">
                  <a href="index">
                    <img src="/images/logo.png" alt="Atek" />
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-8 col-xl-7 col-xxl-6 text-center">
                <nav class="main-menu d-none d-xl-inline-block">
                  <ul>
                    <li>
                      <a class="active" href="index">Home</a>
                    </li>
                    <li>
                      <a href="about">About Us</a>
                    </li>
                    <li>
                      <a href="service-details">Our Services</a>
                    </li>
                    <li>
                      <a href="clients">Clients</a>
                    </li>
                    <li>
                      <a href="gallery">Gallery</a>
                    </li>
                    <li>
                      <a href="contact-us">Contact Us</a>
                    </li>
                  </ul>
                </nav>
                <button type="button" class="th-menu-toggle d-block d-xl-none">
                  <i class="far fa-bars"></i>
                </button>
              </div>
              <div class="col-md-3 d-none d-xl-block text-center">
                <div class="header-button justify-content-end">
                  <a href="index">
                    <img
                      width="250"
                      height="74"
                      src="/images/logo-2.png"
                      alt="Atek"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>